@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background-color: #2E3047;
  color: #979ddd;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h1 {
  font-size: 2.5em;
}

input {
  background-color: #595d86;
}

#minutes {
  width: 50px;
  color: #cdd0f1;
}

#sleep-at-input, #wake-at-input {
  color: #cdd0f1;
}

button {
  background-color: #595d86;
  border: 1px solid #979ddd;
  color: #cdd0f1;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.25em;
}

span {
  font-size: 1.25em;;
}

label {
  user-select: none;
}

.content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sleep-now-container, .wake-at-container, .sleep-at-container {
  border: 2px solid #979ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-container input {
  height: 22px;
  font-size: 1.1em;
  padding: 5px;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.time-text {
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.5em;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cycle {
  border: 2px solid #979ddd;
  border-radius: 5px;
  height: 80px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 10px 10px;
}

.cycle-time {
  font-size: 1.75em;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #979ddd;
}

.cycle-num {
  font-size: 1.2em;
}

.cycle-6 .cycle-time {
  color: #91E5A0;
}

.cycle-5 .cycle-time {
  color: #FFFFA2;
}

.cycle-4 .cycle-time {
  color: #FFD7A2;
}

.cycle-3 .cycle-time {
  color: #FFA2A2;
}

.start-over {
  visibility: hidden;
}

.add-sleep-time {
  font-size: 1.25em;
}

.add-sleep-time input {
  font-size: 1.1em;
  margin: 5px;
}
