@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background-color: #2E3047;
  color: #979ddd;
}

h1 {
  font-size: 2.5em;
}

input {
  background-color: #595d86;
}

#minutes {
  width: 50px;
  color: #cdd0f1;
}

#sleep-at-input, #wake-at-input {
  color: #cdd0f1;
}

button {
  background-color: #595d86;
  border: 1px solid #979ddd;
  color: #cdd0f1;
  padding: 2px 5px;
  border-radius: 5px;
}

label {
  user-select: none;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cycle {
  outline: 2px solid #979ddd;
  border-radius: 5px;
  height: 80px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 10px 10px;
}

.cycle-time {
  font-size: 1.75em;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #979ddd;
}

.cycle-num {
  font-size: 1.2em;
}

.cycle-6 .cycle-time {
  color: #91E5A0;
}

.cycle-5 .cycle-time {
  color: #FFFFA2;
}

.cycle-4 .cycle-time {
  color: #FFD7A2;
}

.cycle-3 .cycle-time {
  color: #FFA2A2;
}
